# This file is for a modified Ender 3 V2 with Sprite Pro Extruder,
# CR Touch, with a 4.2.2 silent board. Klipper and Mainsail are
# installed on a Raspberry Pi 3B+ 4GB.

# Printer config created by Rob Davies

#====================================================================
# INCLUDES
#====================================================================
[include mainsail.cfg]
[include printer_macros.cfg]
[include timelapse.cfg]

#====================================================================
# EXCLUDE OBJECTS
#====================================================================
[exclude_object]

#====================================================================
# STEPPER MOTORS
#====================================================================
[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
position_min: -15
homing_speed: 80

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
position_min: -13
homing_speed: 80

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_max: 250 #255
position_min: -10
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0


#====================================================================
# EXTRUDER
#====================================================================
[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
gear_ratio: 42:12
rotation_distance: 26.359
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
pressure_advance: .0369 
pressure_advance_smooth_time: 0.04

#====================================================================
# HEATER BED
#====================================================================
[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 100

#====================================================================
# FANS
#====================================================================
[fan]
pin: PA0

[fan_generic extruder_partfan]
pin: PC6

[heater_fan heater_partfan]
pin: PB14

#set heater fan runnig with temperature over 60;
#[heater_fan my_nozzle_fan]
#pin: PC0
#max_power: 0.8
#shutdown_speed : 0
#heater:extruder
#heater_temp : 60
#fan_speed : 1.0

#====================================================================
# MCU
#====================================================================
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

#====================================================================
# PRINTER
#====================================================================
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2000
max_z_velocity: 5
max_z_accel: 100

#====================================================================
# BED LEVELLING
#====================================================================
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -31.8
y_offset: -40.5
#z_offset: 0
speed: 20
samples: 1
sample_retract_dist: 12.0
stow_on_each_sample = false #high speed for bltouch

[safe_z_home]
home_xy_position: 147, 154
speed: 150
z_hop: 10
z_hop_speed: 10

[bed_mesh]
speed: 120
mesh_min: 15,15     # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 188,186       # Max probe range
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

#====================================================================
# BED SKREW ADJUSTMENTS
#====================================================================
[bed_screws]
screw1: 25, 205 # Using rear left to take measurements as harder to reach
screw1_name: rear left screw
screw2: 195, 205
screw2_name: rear right screw
screw3: 195, 35
screw3_name: front right screw
screw4: 25, 35
screw4_name: front left screw

[screws_tilt_adjust]
screw1: 57, 229
screw1_name: rear left screw
screw2: 227, 229
screw2_name: rear right screw
screw3: 227, 70
screw3_name: front right screw
screw4: 57, 70
screw4_name: front left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4 # Use CW for Clowise and CCW for Counter Clockwise 


#====================================================================
# TEMPERATURE SENSORS
#====================================================================
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#====================================================================
# PRINT CALIBRATION
#====================================================================
#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None
#spi_speed: 2000000
#spi_bus: spidev2.0

#[resonance_tester]
#accel_chip: adxl345
#accel_per_hz: 70
#probe_points:
#    117.5,117.5,10

[input_shaper]
shaper_freq_x: 68.8
shaper_type_x: mzv
shaper_freq_y: 44.4
shaper_type_y: mzv

[firmware_retraction]
#retract_length: 0.6
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 65
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

#====================================================================
# HELPERS
#====================================================================
[virtual_sdcard]
path: ~/printer_data/gcodes

[respond]
#default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
default_prefix: 
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".

[pause_resume]
recover_velocity: 25
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[exclude_object]
#Enables support to exclude or cancel individual objects during the printing process.

[pause_resume]
recover_velocity: 25

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 4.340
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.733
#*# pid_ki = 1.403
#*# pid_kd = 92.068
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.859
#*# pid_ki = 1.502
#*# pid_kd = 859.608
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.202500, 0.170000, 0.225000, 0.075000, 0.180000
#*# 	  0.130000, 0.037500, 0.045000, -0.155000, -0.075000
#*# 	  0.032500, -0.020000, 0.050000, -0.165000, -0.010000
#*# 	  0.067500, -0.027500, -0.005000, -0.172500, 0.012500
#*# 	  0.105000, 0.080000, 0.142500, 0.025000, 0.102500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 14.999999999999996
#*# max_x = 188.0
#*# min_y = 15.0
#*# max_y = 186.0
